<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="cache-control" content="no-cache" />
	<title></title>
	<meta name="description" content="">

	<meta name="viewport" content="width=device-width">
	
	<style>
		#alpha, #beta, #gamma { margin: 20px 0; }
	</style>
</head>
<body>
	<div id="alpha"></div>
	<div id="beta"></div>
	<div id="gamma"></div>
</body>
</html>
